<%# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.

Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).

This program is free software; you can redistribute it and/or modify it under the
terms of the GNU Lesser General Public License as published by the Free Software
Foundation; either version 3.0 of the License, or (at your option) any later
version.

BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License along
with BigBlueButton; if not, see <http://www.gnu.org/licenses/>. %>

<% if @error.present? %>
  <div style="background-color: red; text-align: center;">
    <h4><%= @error %></h4>
  </div>
<% end %>
<table>
  <thead>
  <tr>
    <th>Parameter</th>
    <th>Type</th>
    <th>Value</th>
  </tr>
  </thead>
  <% @message.required_params.each do |k, v| %>
    <tr>
      <td><b><%= k %>:</b></td>
      <td>Required</td>
      <td><%= v %></td>
    </tr>
  <% end %>
  <% @message.recommended_params.each do |k, v| %>
    <tr>
      <td><b><%= k %>:</b></td>
      <td>Recommended</td>
      <td><%= v %></td>
    </tr>
  <% end %>
  <% @message.optional_params.each do |k, v| %>
    <tr>
      <td><b><%= k %>:</b></td>
      <td>Optional</td>
      <td><%= v %></td>
    </tr>
  <% end %>
  <% @message.deprecated_params.each do |k, v| %>
    <tr>
      <td><b><%= k %>:</b></td>
      <td>Deprecated</td>
      <td><%= v %></td>
    </tr>
  <% end %>
  <% @message.custom_params.each do |k, v| %>
    <tr>
      <td><b><%= k %>:</b></td>
      <td>Custom</td>
      <td><%= v %></td>
    </tr>
  <% end %>
  <% @message.ext_params.each do |k, v| %>
    <tr>
      <td><b><%= k %>:</b></td>
      <td>Extension</td>
      <td><%= v %></td>
    </tr>
  <% end %>
  <% @message.unknown_params.each do |k, v| %>
    <tr style="background-color: red;">
      <td><b><%= k %>:</b></td>
      <td>Unknown</td>
      <td><%= v %></td>
    </tr>
  <% end %>
</table>

<p>
<h4>Oauth Base String</h4>
<textarea style="width: 100%; min-height: 100px;" readonly> <%= @header.send(:signature_base) %> </textarea>
</p>