<%# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.

Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).

This program is free software; you can redistribute it and/or modify it under the
terms of the GNU Lesser General Public License as published by the Free Software
Foundation; either version 3.0 of the License, or (at your option) any later
version.

BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License along
with BigBlueButton; if not, see <http://www.gnu.org/licenses/>. %>

<%= render "layouts/header_iframe" %>

<h1>Dynamic registration</h1>
<% if @error_code == 'activation_code_not_found' || @error_code == 'activation_code_expired' %>

  <h3>Your registration is unlinked, the code utilized is invalid.</h3>

<% elsif registration_unlinked?(@tool) %>

  <h3>Your registration is unlinked, you need a registration code to link it to a tenant.</h3>

  <%= form_with url: registration_link_path, method: :post do |f| %>
    <%= f.hidden_field :tool_id, value: @tool.id %>

    <%= f.label :activation_code %>
    <%= f.text_field :activation_code %>

    <%= f.submit "Submit" %>
  <% end %>

<% else %>

  <h3>Your registration is linked, you are good to start using it.</h3>

<% end %>

<!-- Add the button to send post message to the parent window -->
<button id="close-button">Close</button>

<%= render "layouts/footer_iframe" %>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var closeButton = document.getElementById("close-button");

    if (closeButton) {
      closeButton.addEventListener("click", function() {
        window.parent.postMessage({subject: 'org.imsglobal.lti.close'}, '*');
      });
    }
  });
</script>
